.popup-container {
    max-width: 100%;
    box-sizing: border-box;
    padding: 30px;
    font-family: 'Vazirmatn';
    width: 400px;
}

.popup-container .popup-left {
    float: left;
    width: 30%
}

.popup-container .popup-right {
    float: right;
    direction: rtl;
    text-align: right;
    width: 70%
}

.clearfix {
    clear: both
}

.popup-container .popup-left img {
    max-width: 100%;
    width: 150px
}

.popup-container .popup-right h1,
.popup-container .popup-right h2 {
    font-size: 20px
}

.popup-container .popup-right .copyright {
    font-size: 12px;
    color: #6c757d
}

.popup-container .popup-right .copyright a {
    color: #6c757d
}